header {
  background-color: burlywood;
}

.cntt {
  background-color: aquamarine;
}

.tt {
  background-color: pink;
}

.thm {
  background-color: crimson;
}

.cn {
  background-color: lightseagreen;
}
