* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  text-align: center;
  padding: 20px;
}

.profile {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .profile {
    flex-direction: column;
  }
}

.avarta img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
